<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/logo.svg" alt="UnlimitMail" height="38"/>
    </a>
    <!-- Navigation, user menu... (add if needed) -->
  </div>
</nav>
